= f.fields_for(:rate, Rate.new, child_index: 'new_rate', id: 'rate_field') do |r|
  = r.hidden_field :id
  .panel.panel-success#rate_field
    .panel-heading
      = t('buttons.new.rate')
    .panel-body
      .from-group.row
        .col-md-6
          = r.label :name
        .col-md-6
          = r.text_field :name, class: 'form-control'
      = r.error_messages_for(:name, class: "bg-danger")
      .from-group.row
        .col-md-6
          = r.label :times_of_day
        .col-md-6
          = r.text_field :times_of_day, class: 'form-control'
      = r.error_messages_for(:times_of_day, class: "bg-danger")
      .from-group.row
        .col-md-6
          = r.label :how_far
        .col-md-6
          = r.text_field :how_far, class: 'form-control'
      = r.error_messages_for(:how_far, class: "bg-danger")
      .from-group.row
        .col-md-6
          = r.label :PPK
        .col-md-6
          = r.text_field :PPK, class: 'form-control'
      = r.error_messages_for(:PPK, class: "bg-danger")