-require 'time'

%h1 Listing orders

%table
  %thead
    %tr
      %th Date
      %th Time
      %th From adress
      %th To adress
      %th Passangers count
      %th Lenght of the route
      %th Driver
      %th Rate
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.date
        %td= order.time.strftime("%H:%M")
        %td= order.from_adress
        %td= order.to_adress
        %td= order.passangers_count
        %td= order.lenght_of_the_route
        %td= (order.driver.fn + ' ' + order.driver.sn + ' ' + order.driver.ln)
        %td= order.rate.name
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
