=breadcrumb_tag do
  %li
    Администрирование
  %li
    = link_to t('app.orders.index'), orders_path
  %li.active
    = 'Заказ №' + @order.id.to_s

%p
  %b= Order.human_attribute_name(:date) + ':'
  = @order.date
%p
  %b= Order.human_attribute_name(:time) + ':'
  = @order.time.strftime("%H:%M")
%p
  %b= Order.human_attribute_name(:from_adress) + ':'
  = @order.from_adress
%p
  %b= Order.human_attribute_name(:to_adress) + ':'
  = @order.to_adress
%p
  %b= Order.human_attribute_name(:passangers_count) + ':'
  = @order.passangers_count
%p
  %b= Order.human_attribute_name(:lenght_of_the_route) + ':'
  = @order.lenght_of_the_route
%p
  %b= Order.human_attribute_name(:driver) + ':'
  = @order.driver.fn + ' ' + @order.driver.sn + ' ' + @order.driver.ln
%p
  - if @order.rate_id != nil
    %b= Order.human_attribute_name(:rate) + ':'
    = @order.rate.name
  - else
    %b= Order.human_attribute_name(:rate) + ':'
    Nil

= link_to edit_order_path(@order), class: 'btn btn-info' do
  = fa_icon :edit
  = t('buttons.edit')
