%p#notice= notice

%p
  %b Date:
  = @order.date
%p
  %b Time:
  = @order.time.strftime("%H:%M")
%p
  %b From adress:
  = @order.from_adress
%p
  %b To adress:
  = @order.to_adress
%p
  %b Passangers count:
  = @order.passangers_count
%p
  %b Lenght of the route:
  = @order.lenght_of_the_route
%p
  %b Driver:
  = @order.driver.fn + ' ' + @order.driver.sn + ' ' + @order.driver.ln
%p
  %b Rate:
  = @order.rate.name

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
