= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload"
= javascript_include_tag "application", "data-turbolinks-track" => "reload"
= form_for @auto do |f|
  - if @auto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@auto.errors.count, "error")} prohibited this auto from being saved:"
      %ul
        - @auto.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :class
    = f.text_field :myclass
  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :year
    = f.text_field :year, id: 'datepicker_year'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
