=breadcrumb_tag do
  %li
    Администрирование
  %li.active
    =t('app.autos.index')

.page-header
  %h1= t('headers.autos.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_auto_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.auto')  
  %thead
    %tr
      %th
      %th= Auto.human_attribute_name(:model)
      %th= Auto.human_attribute_name(:class)
      %th= Auto.human_attribute_name(:number)
      %th= Auto.human_attribute_name(:color)
      %th= Auto.human_attribute_name(:year)
      %th

  %tbody
    - @autos.each do |auto|
      %tr
        %td
          = link_to auto, class: 'btn btn-success' do
            = fa_icon :eye
        %td.center= auto.model
        %td.center= auto.myclass
        %td.center= auto.number
        %td.center= auto.color
        %td.center= auto.year
        %td.right
          = link_to edit_auto_path(auto), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to auto, :method => :delete, 
          :data => { :confirm => t('buttons.confirm.auto') }, 
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')