=breadcrumb_tag do
  %li
    Администрирование
  %li
    = link_to t('app.autos.index'), autos_path
  %li.active
    = @auto.model + ' ' + @auto.number

%p
  %b= Auto.human_attribute_name(:model) + ':'
  = @auto.model
%p
  %b= Auto.human_attribute_name(:class) + ':'
  = @auto.myclass
%p
  %b= Auto.human_attribute_name(:number) + ':'
  = @auto.number
%p
  %b= Auto.human_attribute_name(:color) + ':'
  = @auto.color
%p
  %b= Auto.human_attribute_name(:year) + ':'
  = @auto.year


= link_to edit_auto_path(@auto), class: 'btn btn-info' do
  = fa_icon :edit
  = t('buttons.edit')
