= form_for @driver do |f|
  - if @driver.errors.any?
    #error_explanation
      %h2= "#{pluralize(@driver.errors.count, "error")} prohibited this driver from being saved:"
      %ul
        - @driver.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :fn
    = f.text_field :fn
  .field
    = f.label :sn
    = f.text_field :sn
  .field
    = f.label :ln
    = f.text_field :ln
  .field
    = f.label :birthdate
    = f.text_field :birthdate, id: 'datepicker_date'
  .field
    = f.label :TIN
    = f.number_field :TIN
  .field
    = f.label :passport
    = f.number_field :passport
  .actions
    = f.submit 'Save'
