%h1 Listing drivers

%table
  %thead
    %tr
      %th Fn
      %th Sn
      %th Ln
      %th Birthdate
      %th Tin
      %th Passport
      %th
      %th
      %th

  %tbody
    - @drivers.each do |driver|
      %tr
        %td= driver.fn
        %td= driver.sn
        %td= driver.ln
        %td= driver.birthdate
        %td= driver.TIN
        %td= driver.passport
        %td= link_to 'Show', driver
        %td= link_to 'Edit', edit_driver_path(driver)
        %td= link_to 'Destroy', driver, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Driver', new_driver_path
