%p#notice= notice

%p
  %b Fn:
  = @driver.fn
%p
  %b Sn:
  = @driver.sn
%p
  %b Ln:
  = @driver.ln
%p
  %b Birthdate:
  = @driver.birthdate
%p
  %b Tin:
  = @driver.TIN
%p
  %b Passport:
  = @driver.passport

= link_to 'Edit', edit_driver_path(@driver)
\|
= link_to 'Back', drivers_path
