=breadcrumb_tag do
  %li
    Администрирование
  %li
    = link_to t('app.drivers.index'), drivers_path
  %li.active
    = @driver.fn + ' ' + @driver.sn + ' ' + @driver.ln

%p
  %b= Driver.human_attribute_name(:fn) + ':'
  = @driver.fn
%p
  %b= Driver.human_attribute_name(:sn) + ':'
  = @driver.sn
%p
  %b= Driver.human_attribute_name(:ln) + ':'
  = @driver.ln
%p
  %b= Driver.human_attribute_name(:birthdate) + ':'
  = @driver.birthdate
%p
  %b= Driver.human_attribute_name(:TIN) + ':'
  = @driver.TIN
%p
  %b= Driver.human_attribute_name(:passport) + ':'
  = @driver.passport
%p
  - if @driver.auto_id != nil
    %b= Driver.human_attribute_name(:auto) + ':'
    = @driver.auto.model + ' - ' + @driver.auto.number
  - else
    %b= Driver.human_attribute_name(:auto) + ':'
    NULL
= link_to edit_driver_path(@driver), class: 'btn btn-info' do
  = fa_icon :edit
  = t('buttons.edit')
