%p#notice= notice

%p
  %b= Driver.human_attribute_name(:fn) + ':'
  = @driver.fn
%p
  %b= Driver.human_attribute_name(:sn) + ':'
  = @driver.sn
%p
  %b= Driver.human_attribute_name(:ln) + ':'
  = @driver.ln
%p
  %b= Driver.human_attribute_name(:birthdate) + ':'
  = @driver.birthdate
%p
  %b= Driver.human_attribute_name(:TIN) + ':'
  = @driver.TIN
%p
  %b= Driver.human_attribute_name(:passport) + ':'
  = @driver.passport

= link_to t('app.drivers.edit'), edit_driver_path(@driver)
\|
= link_to t('app.back'), drivers_path
