= form_for @rate do |f|
  - if @rate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rate.errors.count, "error")} prohibited this rate from being saved:"
      %ul
        - @rate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :times_of_day
    = f.text_field :times_of_day
  .field
    = f.label :how_far
    = f.text_field :how_far
  .field
    = f.label :PPK
    = f.number_field :PPK
  .actions
    = f.submit t('app.save')
