%h1 Listing rates

%table
  %thead
    %tr
      %th Name
      %th Times of day
      %th How far
      %th Ppk
      %th
      %th
      %th

  %tbody
    - @rates.each do |rate|
      %tr
        %td= rate.name
        %td= rate.times_of_day
        %td= rate.how_far
        %td= rate.PPK
        %td= link_to 'Show', rate
        %td= link_to 'Edit', edit_rate_path(rate)
        %td= link_to 'Destroy', rate, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rate', new_rate_path
