=breadcrumb_tag do
  %li
    Администрирование
  %li.active
    =t('app.rates.index')

.page-header
  %h1= t('headers.rates.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_rate_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.rate')  
  %thead
    %tr
      %th
      %th= Rate.human_attribute_name(:name)
      %th= Rate.human_attribute_name(:times_of_day)
      %th= Rate.human_attribute_name(:how_far)
      %th= Rate.human_attribute_name(:PPK)
      %th

  %tbody
    - @rates.each do |rate|
      %tr
      %td.left
        = link_to rate, class: 'btn btn-success' do
          = fa_icon :eye
        %td.center= rate.name
        %td.center= rate.times_of_day
        %td.center= rate.how_far
        %td.center= rate.PPK
        %td.right
          = link_to edit_rate_path(rate), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to rate, :method => :delete, 
          :data => { :confirm => t('buttons.confirm.rate') }, 
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')