%p#notice= notice

%p
  %b Name:
  = @rate.name
%p
  %b Times of day:
  = @rate.times_of_day
%p
  %b How far:
  = @rate.how_far
%p
  %b Ppk:
  = @rate.PPK

= link_to 'Edit', edit_rate_path(@rate)
\|
= link_to 'Back', rates_path
