=breadcrumb_tag do
  %li
    Администрирование
  %li
    = link_to t('app.rates.index'), rates_path
  %li.active
    = @rate.name

%p
  %b= Rate.human_attribute_name(:name) + ':'
  = @rate.name
%p
  %b= Rate.human_attribute_name(:times_of_day) + ':'
  = @rate.times_of_day
%p
  %b= Rate.human_attribute_name(:how_far) + ':'
  = @rate.how_far
%p
  %b= Rate.human_attribute_name(:PPK) + ':'
  = @rate.PPK
